<div ng-controller="SettingController as setting">
	<div class="d-flex align-items-center justify-content-between mb-4">
		<h1 class="h4 mb-0 text-gray-800">설정</h1>
	</div>
	
	<div class="row">
		<div class="col-lg-8">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">계좌 관리</h6>
				</div>
				<div class="card-body">
					<div class="row">
			        	<div class="col text-right w-100 mb-2" ng-if="!setting.infinite.account.isEditMode">
							<a class="btn btn-info btn-circle btn-sm" ng-click="setting.infinite.addAccount.openModal()">
				                <i class="fas text-white fa-plus"></i>
				            </a>
							<a class="btn btn-info btn-circle btn-sm" ng-click="setting.infinite.account.isEditMode = !setting.infinite.account.isEditMode">
				                <i class="fas text-white fa-edit"></i>
				            </a>
						</div>
						<div class="col text-right w-100 mb-2" ng-if="setting.infinite.account.isEditMode">
							<a class="btn btn-info btn-circle btn-sm">
				                <i class="fas text-white fa-check"></i>
				            </a>
							<a class="btn btn-info btn-circle btn-sm" ng-click="setting.infinite.account.isEditMode = !setting.infinite.account.isEditMode">
				                <i class="fas text-white fa-ban"></i>
				            </a>
						</div>
				    </div>
					<table class="table table-hover text-gray-800 text-resize" width="100%" style="width: 100%;" 
						ng-show="!setting.infinite.account.isEditMode">
						<thead class="bg-primary text-white">
							<tr role="row" class="text-center">
								<th style="width: 5px; white-space: nowrap;">계좌</th>
								<th style="width: 20px; white-space: nowrap;">계좌 별칭</th>
								<th style="width: 10px; white-space: nowrap;">원금</th>
								<th style="width: 10px; white-space: nowrap;">수수료율</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="account in setting.infinite.account.list" class="text-center">
								<td class="align-middle">{{ account.accountOrder }}</td>
								<td class="align-middle" style="white-space: nowrap;">{{ account.accountAlias }}</td>
								<td class="align-middle">${{ account.seed | number }}</td>
								<td class="align-middle">{{ account.feesPer }}%</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover text-gray-800 text-resize" id="accountTable" width="100%" style="width: 100%;"
						ng-show="setting.infinite.account.isEditMode">
						<thead class="bg-primary text-white">
							<tr role="row" class="text-center">
								<th style="width: 5px; white-space: nowrap;">계좌</th>
								<th style="width: 20px; white-space: nowrap;">계좌 별칭</th>
								<th style="width: 10px; white-space: nowrap;">원금</th>
								<th style="width: 10px; white-space: nowrap;">수수료율</th>
								<th style="width: 10px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="account in setting.infinite.account.editList" 
								ng-init="$last && setting.tableDnD('#accountTable')"
								class="text-center">
								<td class="align-middle">{{ account.accountOrder }}</td>
								<td><input type="text" class="form-control text-xs" ng-model="account.accountAlias"></td>
								<td><input type="text" class="form-control text-xs" ng-model="account.seed"></td>
								<td><input type="text" class="form-control text-xs" ng-model="account.feesPer"></td>
								<td class="align-middle"><i class="fas fa-bars"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">지니 연동</h6>
				</div>
				<div class="card-body">
					<h6 class="small mb-3 font-weight-bold text-gray-800">
						* 지니님 프로그램 연동 API Key
					</h6>
					<div class="row">
						<div class="col-12">
							<input type="text" class="form-control mb-2" disabled="disabled">
							<a class="btn btn-success w-100 text-resize" ng-click="">
				                	발급
				            </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div ng-include="meta.baseUrl + 'tpl/modal/add-account.html'"></div>
</div>
