<div>
	<div class="d-flex align-items-center justify-content-between mb-4">
		<h1 class="h4 mb-0 text-gray-800">후원</h1>
	</div>

	<div class="row">
		<div class="col">
			<div class="card border-bottom-primary mb-4">
				<div class="card-body text-center font-weight-bold"> 
					개발자에게 
					<span class="text-primary"><i class="fas fa-coffee"></i> 커피 한잔 </span> 사주세요!
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-4">
	        <div class="card shadow mb-4">
	             <div class="card-header py-3">
	                 <h6 class="m-0 font-weight-bold text-primary">계좌 후원</h6>
	             </div>
	             <div class="card-body">
	                 <div>
	                 	신한은행
	                 </div>
	                 <div>
	                 	110-426-549371 (ㅇㄷㅎ)
	                 </div>
	             </div>
	         </div>
	     </div>
	     
		<div class="col-lg-4">
	        <div class="card shadow mb-4">
	             <div class="card-header py-3">
	                 <h6 class="m-0 font-weight-bold text-primary">카카오페이 송금</h6>
	             </div>
	             <div class="card-body">
	                 <div>
	                 </div>
	                 <div>
	                 </div>
	             </div>
	         </div>
	     </div>
     </div>
</div>