<div>
	<div class="d-flex align-items-center justify-content-between mb-4">
		<h1 class="h4 mb-0 text-gray-800">후원</h1>
	</div>

	<div class="row">
		<div class="col">
			<div class="card border-bottom-primary mb-4">
				<div class="card-body text-center font-weight-bold"> 
					<div>
						<span class="text-primary">MUME</span>가 도움이 되었다면,
					</div>
					<div>
						개발자에게 
						<span class="text-primary"><i class="fas fa-coffee"></i> 커피 한잔 </span> 사주세요!
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
	        <div class="card shadow mb-4">
	        	<div class="card-header py-3">
	        		<h6 class="m-0 font-weight-bold text-primary">후원계좌로 사주기</h6>
				</div>
	            <div class="card-body text-center font-weight-bold" style="min-height: 95px">
	                <div>
	                	신한은행 
	                </div>
	                <div>
	                	110-426-549371 (ㅇㄷㅎ)
	               	</div>
	            </div>
	         </div>
	     </div>
	     
		<div class="col-md-6">
	        <div class="card shadow mb-4">
	        	<div class="card-header py-3">
	        		<h6 class="m-0 font-weight-bold text-primary">카카오페이로 사주기</h6>
				</div>
	            <div class="card-body text-center font-weight-bold" style="min-height: 95px;">
	                <div class="mt-1">
	                	<a href="https://qr.kakaopay.com/Ej8DeISkl" target='_blank'
	                	   class="btn btn-warning">
                            <span class="icon">
                                <i class="fas fa-heart"></i>
                            </span>
                            <span class="text">카카오페이 바로가기</span>
                        </a>
                	</div>
	            </div>
	         </div>
	     </div>
     </div>
     
     <div class="row">
		<div class="col">
			<div class="card border-bottom-primary mb-4">
				<div class="card-body text-center font-weight-bold"> 
					<div class="text-primary">감사합니다.</div> 
					<div>오늘도 좋은 하루 되세요!</div>
				</div>
			</div>
		</div>
	</div>
</div>