<div ng-controller="StockController as ngStock">
	
	<!-- Content Row -->
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-primary text-uppercase mb-1">
								다우 산업</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								{{ ngStock.marketIndex.DJI.stock.priceClose | number:2 }}
								<span class="text-xs" ng-class="(ngStock.marketIndex.DJI.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.DJI.stock.chg < 0 && 'text-primary')">
									{{ ngStock.marketIndex.DJI.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.DJI.stock.chgp | appendPulMa }}%)
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-success text-uppercase mb-1">
								나스닥 종합</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">						
								{{ ngStock.marketIndex.IXIC.stock.priceClose | number:2 }} 
								<span class="text-xs" ng-class="(ngStock.marketIndex.IXIC.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.IXIC.stock.chg < 0 && 'text-primary')">
									{{ ngStock.marketIndex.IXIC.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.IXIC.stock.chgp | appendPulMa }}%)
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-info text-uppercase mb-1">S&P 500</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								{{ ngStock.marketIndex.GSPC.stock.priceClose | number:2 }} 
								<span class="text-xs" ng-class="(ngStock.marketIndex.GSPC.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.GSPC.stock.chg < 0 && 'text-primary')">
									{{ ngStock.marketIndex.GSPC.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.GSPC.stock.chgp | appendPulMa }}%)
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-warning text-uppercase mb-1">
								필라델피아 반도체</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								{{ ngStock.marketIndex.SOX.stock.priceClose | number:2 }} 
								<span class="text-xs" ng-class="(ngStock.marketIndex.SOX.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.SOX.stock.chg < 0 && 'text-primary')"> 
									{{ ngStock.marketIndex.SOX.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.SOX.stock.chgp | appendPulMa }}%)
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
	
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">3X ETFs RSI</h6>
				</div>
				<div class="card-body">
					<table class="table table-sm table-bordered text-xs text-center text-gray-800" width="100%">
						<thead class="text-white font-weight-bold bg-primary">
							<tr role="row">
								<th>65</th>
								<th>60</th>
								<th>55</th>
								<th>50</th>
								<th>45</th>
								<th>40</th>
								<th>35</th>
							</tr>
						</thead>
						<tbody class="font-weight-bold">
							<tr>
								<td ng-class="ngStock.etfs.SOXL.gapRsi < 0 && 'bg-info text-white'">SOXL</td>
								<td ng-class="ngStock.etfs.TQQQ.gapRsi < 0 && 'bg-info text-white'">TQQQ</td>
								<td ng-class="ngStock.etfs.UPRO.gapRsi < 0 && 'bg-info text-white'">UPRO</td>
								<td ng-class="ngStock.etfs.TNA.gapRsi < 0 && 'bg-info text-white'">TNA</td>
	 							<td ng-class="ngStock.etfs.LABU.gapRsi < 0 && 'bg-info text-white'">LABU</td>
								<td ng-class="ngStock.etfs.TPOR.gapRsi < 0 && 'bg-info text-white'">TPOR</td>
								<td ng-class="ngStock.etfs.UTSL.gapRsi < 0 && 'bg-info text-white'">UTSL</td>
							</tr>
							<tr>
								<td ng-class="ngStock.etfs.BULZ.gapRsi < 0 && 'bg-info text-white'">BULZ</td>
								<td ng-class="ngStock.etfs.TECL.gapRsi < 0 && 'bg-info text-white'">TECL</td>
								<td ng-class="ngStock.etfs.WANT.gapRsi < 0 && 'bg-info text-white'">WANT</td>
								<td ng-class="ngStock.etfs.RETL.gapRsi < 0 && 'bg-info text-white'">RETL</td>
								<td ng-class="ngStock.etfs.PILL.gapRsi < 0 && 'bg-info text-white'">PILL</td>
								<td ng-class="ngStock.etfs.DRN.gapRsi < 0 && 'bg-info text-white'">DRN</td>
								<td ng-class="ngStock.etfs.BNKU.gapRsi < 0 && 'bg-info text-white'">BNKU</td>
							</tr>
							<tr>
								<td class="bg-gray-100"></td>
								<td ng-class="ngStock.etfs.WEBL.gapRsi < 0 && 'bg-info text-white'">WEBL</td>
								<td ng-class="ngStock.etfs.HIBL.gapRsi < 0 && 'bg-info text-white'">HIBL</td>
								<td ng-class="ngStock.etfs.UDOW.gapRsi < 0 && 'bg-info text-white'">UDOW</td>
								<td ng-class="ngStock.etfs.MIDU.gapRsi < 0 && 'bg-info text-white'">MIDU</td>
								<td ng-class="ngStock.etfs.DUSL.gapRsi < 0 && 'bg-info text-white'">DUSL</td>
								<td ng-class="ngStock.etfs.DPST.gapRsi < 0 && 'bg-info text-white'">DPST</td>
							</tr>
							<tr>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td ng-class="ngStock.etfs.FNGU.gapRsi < 0 && 'bg-info text-white'">FNGU</td>
								<td ng-class="ngStock.etfs.NAIL.gapRsi < 0 && 'bg-info text-white'">NAIL</td>
								<td ng-class="ngStock.etfs.CURE.gapRsi < 0 && 'bg-info text-white'">CURE</td>
								<td ng-class="ngStock.etfs.DFEN.gapRsi < 0 && 'bg-info text-white'">DFEN</td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td ng-class="ngStock.etfs.FAS.gapRsi < 0 && 'bg-info text-white'">FAS</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td class="bg-gray-100">&nbsp;</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">3X ETFs Sector</h6>
				</div>
				<div class="card-body">
					<table class="table table-sm table-bordered text-xs text-center text-gray-800" width="100%">
						<thead class="text-white font-weight-bold bg-primary">
							<tr role="row">
								<th>Sector</th>
								<th colspan="6">ETF</th>
							</tr>
						</thead>
						<tbody class="font-weight-bold">
							<tr>
								<td style="background-color: #e9f1ff;">스페셜</td>
								<td ng-class="ngStock.etfs.TQQQ.gapRsi < 0 && 'bg-info text-white'">TQQQ</td>
								<td ng-class="ngStock.etfs.TECL.gapRsi < 0 && 'bg-info text-white'">TECL</td>
								<td ng-class="ngStock.etfs.SOXL.gapRsi < 0 && 'bg-info text-white'">SOXL</td>
								<td ng-class="ngStock.etfs.BULZ.gapRsi < 0 && 'bg-info text-white'">BULZ</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">기술/우량</td>
								<td ng-class="ngStock.etfs.WEBL.gapRsi < 0 && 'bg-info text-white'">WEBL</td>
								<td ng-class="ngStock.etfs.UPRO.gapRsi < 0 && 'bg-info text-white'">UPRO</td>
								<td ng-class="ngStock.etfs.HIBL.gapRsi < 0 && 'bg-info text-white'">HIBL</td>
								<td ng-class="ngStock.etfs.FNGU.gapRsi < 0 && 'bg-info text-white'">FNGU</td>
								<td ng-class="ngStock.etfs.UDOW.gapRsi < 0 && 'bg-info text-white'">UDOW</td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">중소/소비</td>
								<td ng-class="ngStock.etfs.WANT.gapRsi < 0 && 'bg-info text-white'">WANT</td>
								<td ng-class="ngStock.etfs.TNA.gapRsi < 0 && 'bg-info text-white'">TNA</td>
								<td ng-class="ngStock.etfs.NAIL.gapRsi < 0 && 'bg-info text-white'">NAIL</td>
								<td ng-class="ngStock.etfs.RETL.gapRsi < 0 && 'bg-info text-white'">RETL</td>
								<td ng-class="ngStock.etfs.MIDU.gapRsi < 0 && 'bg-info text-white'">MIDU</td>
								<td ng-class="ngStock.etfs.DRN.gapRsi < 0 && 'bg-info text-white'">DRN</td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">기간산업</td>
								<td ng-class="ngStock.etfs.DUSL.gapRsi < 0 && 'bg-info text-white'">DUSL</td>
								<td ng-class="ngStock.etfs.TPOR.gapRsi < 0 && 'bg-info text-white'">TPOR</td>
								<td ng-class="ngStock.etfs.DFEN.gapRsi < 0 && 'bg-info text-white'">DFEN</td>
								<td ng-class="ngStock.etfs.UTSL.gapRsi < 0 && 'bg-info text-white'">UTSL</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">금융</td>
								<td ng-class="ngStock.etfs.FAS.gapRsi < 0 && 'bg-info text-white'">FAS</td>
								<td ng-class="ngStock.etfs.DPST.gapRsi < 0 && 'bg-info text-white'">DPST</td>
								<td ng-class="ngStock.etfs.BNKU.gapRsi < 0 && 'bg-info text-white'">BNKU</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">보건</td>
								<td ng-class="ngStock.etfs.LABU.gapRsi < 0 && 'bg-info text-white'">LABU</td>
								<td ng-class="ngStock.etfs.CURE.gapRsi < 0 && 'bg-info text-white'">CURE</td>
								<td ng-class="ngStock.etfs.PILL.gapRsi < 0 && 'bg-info text-white'">PILL</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col-xl-12">
			<div class="card shadow mb-4">
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">3X ETFs Information</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body text-gray-800">
					<div class="table-responsive">
						<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
							<div class="row mt-1 mr-1 ml-1">
								<div class="col-sm-4  mt-2 text-xs">
									<span><span class="font-weight-bold">Updated Time</span> : {{ ngStock.arrayEtfs[0].updateTime | date:'yyyy-MM-dd HH:mm:ss' }} </span>
								</div>
								<div class="col-sm-8">
									<label class="float-right">
										<input type="search"
											class="form-control form-control-sm" placeholder="Search for..." ng-model="ngStock.search.symbol">
									</label>
									<label class="float-right mr-1">
										<select 
											class="custom-select custom-select-sm form-control form-control-sm"
											ng-model="ngStock.search.sector">
											<option value="">섹터 전체</option>
											<option value="S1">스페셜</option>
											<option value="S2">기술우량</option>
											<option value="S3">중소형/소비재</option>
											<option value="S4">기간산업</option>
											<option value="S5">금융</option>
											<option value="S6">보건</option>
										</select>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table class="table table-hover text-gray-800" id="dataTable" width="100%" style="width: 100%;">
										<thead class="text-white bg-primary">
											<tr role="row" class="text-center">
												<th class="" 
													style="width: 30px;">SYMBOL</th>
												<th class=""
													style="width: 20px;">RSI</th>
												<th class="" 
													style="width: 20px;">권장RSI</th>
												<th class="" 
													style="width: 20px;">+/-</th>
												<th class="" 
													style="width: 40px;">현재가</th>
												<th class="" 
													style="width: 40px;">전일비</th>
												<th class="" 
													style="width: 30px;">등락률</th>
												<th class="" 
													style="width: 50px;">거래량</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="etf in ngStock.arrayEtfs | orderBy: 'gapRsi' | filter : ngStock.search.sector | filter : ngStock.search.symbol"
												ng-class="(etf.gapRsi > 10 || etf.gapRsi < -10) && 'font-weight-bold'">
												<td class="text-center"
													ng-class="(etf.gapRsi > 5 && 'text-danger') || (etf.gapRsi < -5 && 'text-primary')">
													{{ etf.symbol }}
												</td>
												<td class="text-center"
													ng-class="(etf.gapRsi > 5 && 'text-danger') || (etf.gapRsi < -5 && 'text-primary')">
													{{ etf.rsi | number:2 }}
												</td>
												<td class="text-center">{{ etf.baseRsi }}</td>
												<td class="text-center"
													ng-class="(etf.gapRsi > 5 && 'text-danger') || (etf.gapRsi < -5 && 'text-primary')">
													{{ etf.gapRsi | appendPulMa }}
												</td>
												<td class="text-center">${{ etf.priceClose | number:2 }}</td>
												<td class="text-center"
													ng-class="(etf.chg > 0 && 'text-danger') || (etf.chg < 0 && 'text-primary')">
													{{ etf.chg | appendUpDown }}
												</td>
												<td class="text-center"
													ng-class="(etf.chgp > 0 && 'text-danger') || (etf.chgp < 0 && 'text-primary')">
													{{ etf.chgp | appendPulMa }}%
												</td>
												<td class="text-right">{{ etf.volume | number }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
