<div ng-controller="StockController as ngStock">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Leveraged 3X ETFs</h1>
	</div>
	
	<!-- Content Row -->
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-gray-800 text-uppercase mb-1">
								다우 산업</div>
							<div class="h5 mb-0 font-weight-bold"
								ng-class="(ngStock.marketIndex.DJI.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.DJI.stock.chg < 0 && 'text-primary')">
								{{ ngStock.marketIndex.DJI.stock.close | number:2 }}
								<span class="text-xs">{{ ngStock.marketIndex.DJI.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.DJI.stock.chgp | appendPulMa }}%)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-gray-800 text-uppercase mb-1">
								나스닥 종합</div>
							<div class="h5 mb-0 font-weight-bold"
								ng-class="(ngStock.marketIndex.IXIC.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.IXIC.stock.chg < 0 && 'text-primary')">
								{{ ngStock.marketIndex.IXIC.stock.close | number:2 }} <span class="text-xs">{{ ngStock.marketIndex.IXIC.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.IXIC.stock.chgp | appendPulMa }}%)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-gray-800 text-uppercase mb-1">S&P 500</div>
							<div class="h5 mb-0 font-weight-bold"
								ng-class="(ngStock.marketIndex.GSPC.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.GSPC.stock.chg < 0 && 'text-primary')">
								{{ ngStock.marketIndex.GSPC.stock.close | number:2 }} <span class="text-xs">{{ ngStock.marketIndex.GSPC.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.GSPC.stock.chgp | appendPulMa }}%)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-gray-800 text-uppercase mb-1">
								필라델피아 반도체</div>
							<div class="h5 mb-0 font-weight-bold"
								ng-class="(ngStock.marketIndex.SOX.stock.chg > 0 && 'text-danger') || (ngStock.marketIndex.SOX.stock.chg < 0 && 'text-primary')">
								{{ ngStock.marketIndex.SOX.stock.close | number:2 }} <span class="text-xs"> {{ ngStock.marketIndex.SOX.stock.chg | appendUpDown }} ({{ ngStock.marketIndex.SOX.stock.chgp | appendPulMa }}%)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
	
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">3X ETFs RSI</h6>
				</div>
				<div class="card-body">
					<table class="table table-bordered text-xs text-center text-gray-800" width="100%">
						<thead class="bg-info text-white font-weight-bold">
							<tr role="row">
								<th>65</th>
								<th>60</th>
								<th>55</th>
								<th>50</th>
								<th>45</th>
								<th>40</th>
								<th>35</th>
							</tr>
						</thead>
						<tbody class="font-weight-bold">
							<tr>
								<td>SOXL</td>
								<td>TQQQ</td>
								<td>UPRO</td>
								<td>TNA</td>
								<td>LABU</td>
								<td>TPOR</td>
								<td>UTSL</td>
							</tr>
							<tr>
								<td>BULZ</td>
								<td>TECL</td>
								<td>WANT</td>
								<td>RETL</td>
								<td>PILL</td>
								<td>DRN</td>
								<td>BNKU</td>
							</tr>
							<tr>
								<td class="bg-gray-100"></td>
								<td>WEBL</td>
								<td>HIBL</td>
								<td>UDOW</td>
								<td>MIDU</td>
								<td>DUSL</td>
								<td>DPST</td>
							</tr>
							<tr>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td>FNGU</td>
								<td>NAIL</td>
								<td>CURE</td>
								<td>DFEN</td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td>FAS</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td class="bg-gray-100">&nbsp;</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">3X ETFs Sector</h6>
				</div>
				<div class="card-body">
					<table class="table table-bordered text-xs text-center text-gray-800" width="100%">
						<thead class="bg-info text-white font-weight-bold">
							<tr role="row">
								<th>Sector</th>
								<th colspan="6">ETF</th>
							</tr>
						</thead>
						<tbody class="font-weight-bold">
							<tr>
								<td style="background-color: #e9f1ff;">스페셜</td>
								<td>TQQQ</td>
								<td>TECL</td>
								<td>SOXL</td>
								<td>BULZ</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">기술/우량</td>
								<td>WEBL</td>
								<td>UPRO</td>
								<td>HIBL</td>
								<td>FNGU</td>
								<td>UDOW</td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">중소형/소비재</td>
								<td>WANT</td>
								<td>TNA</td>
								<td>NAIL</td>
								<td>RETL</td>
								<td>MIDU</td>
								<td>DRN</td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">기간산업</td>
								<td>DUSL</td>
								<td>TPOR</td>
								<td>DFEN</td>
								<td>UTSL</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">금융</td>
								<td>FAS</td>
								<td>DPST</td>
								<td>BNKU</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
							<tr>
								<td style="background-color: #e9f1ff;">보건</td>
								<td>LABU</td>
								<td>CURE</td>
								<td>PILL</td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
								<td class="bg-gray-100"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col-xl-12">
			<div class="card shadow mb-4">
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">3X ETFs Information</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body text-gray-800 text-xs">
					<div class="table-responsive">
						<div id="dataTable_wrapper"
							class="dataTables_wrapper dt-bootstrap4">
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="dataTables_length" id="dataTable_length">
										<label>섹터 <select name="dataTable_length"
											aria-controls="dataTable"
											class="custom-select custom-select-sm form-control form-control-sm"><option
													value="">전체</option>
												<option value="S1">스페셜</option>
												<option value="S2">기술우량</option>
												<option value="S3">중소형/소비재</option>
												<option value="S4">기간산업</option>
												<option value="S5">금융</option>
												<option value="S6">보건</option>
											</select>
										</label>
									</div>
								</div>
								<div class="col-sm-12 col-md-6">
									<div id="dataTable_filter" class="dataTables_filter">
										<label>SYMBOL:<input type="search"
											class="form-control form-control-sm" placeholder="" ng-model="ngStock.query"></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table class="table dataTable text-gray-800" id="dataTable"
										width="100%" cellspacing="0" role="grid"
										aria-describedby="dataTable_info" style="width: 100%;">
										<thead>
											<tr role="row" class="text-center">
												<th class="sorting sorting_asc" tabindex="0"
													aria-controls="dataTable" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Name: activate to sort column descending"
													style="width: 40px;">SYMBOL</th>
												<th class="sorting" tabindex="0" aria-controls="dataTable"
													rowspan="1" colspan="1"
													aria-label="Age: activate to sort column ascending"
													style="width: 20px;">RSI</th>
												<th class="sorting" tabindex="0" aria-controls="dataTable"
													rowspan="1" colspan="1"
													aria-label="Start date: activate to sort column ascending"
													style="width: 20px;">권장RSI</th>
												<th class="sorting" tabindex="0" aria-controls="dataTable"
													rowspan="1" colspan="1"
													aria-label="Salary: activate to sort column ascending"
													style="width: 20px;">+/-</th>
												<th class="sorting" tabindex="0" aria-controls="dataTable"
													rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending"
													style="width: 40px;">현재가</th>
												<th class="sorting" tabindex="0" aria-controls="dataTable"
													rowspan="1" colspan="1"
													aria-label="Position: activate to sort column ascending"
													style="width: 40px;">전일비</th>
												<th class="sorting" tabindex="0" aria-controls="dataTable"
													rowspan="1" colspan="1"
													aria-label="Office: activate to sort column ascending"
													style="width: 30px;">등락률</th>
												<th class="sorting" tabindex="0" aria-controls="dataTable"
													rowspan="1" colspan="1"
													aria-label="Office: activate to sort column ascending"
													style="width: 60px;">거래량</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="etf in ngStock.etfs">
												<td class="text-center">{{ etf.symbol }}</td>
												<td class="text-center">{{ etf.rsi }}</td>
												<td class="text-center"></td>
												<td class="text-center"></td>
												<td class="text-center">${{ etf.close | number:2 }}</td>
												<td class="text-center"
													ng-class="(etf.chg > 0 && 'text-danger') || (etf.chg < 0 && 'text-primary')">
													{{ etf.chg | appendUpDown }}
												</td>
												<td class="text-center"
													ng-class="(etf.chgp > 0 && 'text-danger') || (etf.chgp < 0 && 'text-primary')">
													{{ etf.chgp | appendPulMa }}%
												</td>
												<td class="text-right">{{ etf.volume | number }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
