<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-danger"
		role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary text-white">
				<h5 class="modal-title">종목 추가</h5>
				<button type="button" class="close text-white" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-gray-800">
				<form id="addStockForm" name="infiniteAccount.addStockForm">
					<div class="row mb-3">
			      		<div class="col-6">
							<label class="font-weight-bold">계좌</label> 
							<select
								id="accountSelect" 
								ng-required="true"
								ng-model="infiniteAccount.addStock.data.accountId">
								<option ng-repeat="account in infiniteAccount.account.myAccounts" ng-value="account.accountId">계좌 {{ account.accountOrder }} : {{ account.accountAlias }}</option>
							</select>
						</div>
			      		<div class="col-6">
							<label class="font-weight-bold">종목</label> 
							<select
								id="symbolSelect" data-live-search="true"
								ng-required="true"
								ng-model="infiniteAccount.addStock.data.symbol">
								<option ng-repeat="etf in infiniteAccount.initData.etfs | orderBy:'symbol'" ng-value="etf.symbol">{{ etf.symbol }} ({{ etf.sectorName }})</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-6">
							<label class="font-weight-bold">무한매수/TLP</label>
							<div class="mt-1">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label style="width: 7em;"
										class="btn btn-sm btn-outline-info font-weight-bold text-xs"
										ng-class="infiniteAccount.addStock.data.infiniteType == 'INFINITE' && 'active'">
										<input type="radio" name="editInfiniteType"
										ng-model="infiniteAccount.addStock.data.infiniteType" ng-click="infiniteAccount.addStock.data.divisions = 40"
										value="INFINITE"> 무한매수
									</label> 
									<label style="width: 7em;"
										class="btn btn-sm btn-outline-info font-weight-bold text-xs"
										ng-class="infiniteAccount.addStock.data.infiniteType == 'TLP' && 'active'">
										<input type="radio" name="editInfiniteType"
										ng-model="infiniteAccount.addStock.data.infiniteType" ng-click="infiniteAccount.addStock.data.divisions = 30"
										value="TLP"> TLP
									</label> 
								</div>
							</div>
						</div>
						<div class="col-6">
							<label class="font-weight-bold">버전</label>
							<div class="mt-1">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label style="width: 4em;"
										class="btn btn-sm btn-outline-info font-weight-bold text-xs"
										ng-class="infiniteAccount.addStock.data.infiniteVersion == 'v2.1' && 'active'">
										<input type="radio" name="editInfiniteVersion"
										ng-model="infiniteAccount.addStock.data.infiniteVersion"
										value="v2.1"> v2.1
									</label> 
									<label style="width: 6em;"
										class="btn btn-sm btn-outline-info font-weight-bold text-xs"
										ng-class="infiniteAccount.addStock.data.infiniteVersion == 'v2.1후반' && 'active'">
										<input type="radio" name="editInfiniteVersion"
										ng-model="infiniteAccount.addStock.data.infiniteVersion"
										value="v2.1후반"> v2.1후반
									</label> 
									<label style="width: 4em;"
										class="btn btn-sm btn-outline-info font-weight-bold text-xs"
										ng-class="infiniteAccount.addStock.data.infiniteVersion == 'v2' && 'active'">
										<input type="radio" name="editInfiniteVersion"
										ng-model="infiniteAccount.addStock.data.infiniteVersion"
										value="v2"> v2
									</label> 
									<label style="width: 4em;"
										class="btn btn-sm btn-outline-info font-weight-bold text-xs"
										ng-class="infiniteAccount.addStock.data.infiniteVersion == 'v1' && 'active'">
										<input type="radio" name="editInfiniteVersion"
										ng-model="infiniteAccount.addStock.data.infiniteVersion"
										value="v1"> v1
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-6">
							<label class="font-weight-bold">배정 원금($)</label> 
							<input type="number" class="form-control"
								ng-model="infiniteAccount.addStock.data.seed" name="seed"
								validation-doller ng-required="true"
								max="999999"
								ng-class="infiniteAccount.addStockForm.seed.$touched 
								&& ((infiniteAccount.addStockForm.seed.$invalid && 'invalid')
								|| (infiniteAccount.addStockForm.seed.$valid && 'valid'))">
							<span class="invalid-feedback" ng-show="infiniteAccount.addStockForm.seed.$touched && infiniteAccount.addStockForm.seed.$invalid">필수 작성 항목입니다.</span>
						</div>
						<div class="col-6">
							<label class="font-weight-bold">원금 분할</label> 
							<input type="number" class="form-control"
								ng-model="infiniteAccount.addStock.data.divisions" name="divisions"
								ng-required="true"
								max="100" min="10"
								ng-class="((infiniteAccount.addStockForm.divisions.$invalid && 'invalid')
									|| (infiniteAccount.addStockForm.divisions.$valid && 'valid'))">
							<span class="invalid-feedback" ng-show="infiniteAccount.addStockForm.divisions.$touched && infiniteAccount.addStockForm.divisions.$invalid">필수 작성 항목입니다. <br> 10~100사이로 입력해주세요.</span>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-6">
							<label class="font-weight-bold">평단가($)</label> 
							<input type="number" class="form-control"
								ng-model="infiniteAccount.addStock.data.unitPrice" name="unitPrice"
								validation-doller ng-required="true"
								max="9999" min="1"
								ng-class="infiniteAccount.addStockForm.unitPrice.$touched 
									&& ((infiniteAccount.addStockForm.unitPrice.$invalid && 'invalid')
									|| (infiniteAccount.addStockForm.unitPrice.$valid && 'valid'))">
							<span class="invalid-feedback" ng-show="infiniteAccount.addStockForm.unitPrice.$touched && infiniteAccount.addStockForm.unitPrice.$invalid">필수 작성 항목입니다.</span>
						</div>
						<div class="col-6">
							<label class="font-weight-bold">수량</label> 
							<input type="number" class="form-control" name="quantity"
								ng-model="infiniteAccount.addStock.data.quantity" ng-required="true"
								max="9999" min="1"
								ng-class="infiniteAccount.addStockForm.quantity.$touched 
									&& ((infiniteAccount.addStockForm.quantity.$invalid && 'invalid')
									|| (infiniteAccount.addStockForm.quantity.$valid && 'valid'))">
							<span class="invalid-feedback" ng-show="infiniteAccount.addStockForm.quantity.$touched && infiniteAccount.addStockForm.quantity.$invalid">필수 작성 항목입니다.</span>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-6">
							<label class="font-weight-bold">매수 시작일</label> 
							<input type="date" class="form-control"
								ng-model="infiniteAccount.addStock.data.startedDate" name="startedDate"
								ng-required="true"
								ng-class="infiniteAccount.addStockForm.startedDate.$touched 
									&& ((infiniteAccount.addStockForm.startedDate.$invalid && 'invalid')
									|| (infiniteAccount.addStockForm.startedDate.$valid && 'valid'))">
							<span class="invalid-feedback" ng-show="infiniteAccount.addStockForm.startedDate.$touched && infiniteAccount.addStockForm.startedDate.$invalid">필수 작성 항목입니다.</span>
						</div>
						<div class="col-6">
							<label class="font-weight-bold">매매내역 자동기록 여부</label> 
							<br>
							<input type="checkbox" name="isAutoTrade" checked data-toggle="toggle"
							ng-model="infiniteAccount.addStock.data.isAutoTrade">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					ng-disabled="infiniteAccount.addStockForm.$invalid"
					ng-click="infiniteAccount.addStock.add()">Add</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>