<div class="modal fade" id="seedModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">투자 원금 변경</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form name="infiniteAccount.seedForm">
	      	<div class="row">
	      		<div class="col-12">
	      			<input type="text" class="form-control"
						ng-model="infiniteAccount.seedForm.seed" name="seed"
						validation-doller ng-required="true"
						ng-class="infiniteAccount.seedForm.seed.$touched 
						&& ((infiniteAccount.seedForm.seed.$invalid && 'invalid')
						|| (infiniteAccount.seedForm.seed.$valid && 'valid'))">
					<span class="invalid-feedback" ng-show="infiniteAccount.seedForm.seed.$touched && infiniteAccount.seedForm.seed.$invalid">필수 작성 항목입니다.</span>
	      		</div>
	      	</div>
      	</form>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary"
			ng-disabled="infiniteAccount.seedForm.$invalid"
			ng-click="infiniteAccount.saveSeed()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>