<div class="modal fade" id="updateStockModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">종목 설정</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form name="infiniteAccount.updateStockForm">
	      	<div class="row">
	        	<div class="col mx-2 font-weight-bold mb-3 text-gray-800">
					<span class="border-bottom-primary px-2">{{ infiniteAccount.updateStock.data.symbol }}</span>
				</div>
		    </div>
	        <div class="row mb-3">
			    <div class="col-4 pt-2 pl-4 text-gray-800 font-weight-bold">
	      			진행상태
	      		</div>
	      		<div class="col-8 p-1">
			      <div class="btn-group btn-group-toggle" data-toggle="buttons">
					  <label class="btn btn-sm btn-outline-primary font-weight-bold text-xs" 
					  	ng-class="infiniteAccount.updateStock.data.infiniteState == '진행중' && 'active'">
					    <input type="radio" name="editInfiniteState" ng-model="infiniteAccount.updateStock.data.infiniteState" value="진행중"> 진 행 중
					  </label>
					  <label class="btn btn-sm btn-outline-warning font-weight-bold text-xs" 
					  	ng-class="infiniteAccount.updateStock.data.infiniteState == '매수중지' && 'active'">
					    <input type="radio" name="editInfiniteState" ng-model="infiniteAccount.updateStock.data.infiniteState" value="매수중지"> 매수중지
					  </label>
					  <label class="btn btn-sm btn-outline-success font-weight-bold text-xs"
					  	ng-class="infiniteAccount.updateStock.data.infiniteState == '매도완료' && 'active'">
					    <input type="radio" name="editInfiniteState" ng-model="infiniteAccount.updateStock.data.infiniteState" value="매도완료"> 매도완료
					  </label>
					  <label class="btn btn-sm btn-outline-danger font-weight-bold text-xs"
					  	ng-class="infiniteAccount.updateStock.data.infiniteState == '원금소진' && 'active'">
					    <input type="radio" name="editInfiniteState" ng-model="infiniteAccount.updateStock.data.infiniteState" value="원금소진"> 원금소진
					  </label>
				  </div>
			    </div>
		    </div>
		    <div class="row mb-3" ng-if="infiniteAccount.updateStock.data.infiniteState == '매도완료'">
		    	<div class="col-4 pt-2 pl-4 text-gray-800 font-weight-bold">
	      			매도완료일
	      		</div>
	      		<div class="col-8 p-1 pr-4">
	      			<input type="date" class="form-control" 
	      				ng-model="infiniteAccount.updateStock.data.doneDate"
	      				name="doneDate"
	      				ng-required="infiniteAccount.updateStock.data.infiniteState == '매도완료'"
	      				ng-class="infiniteAccount.updateStock.data.infiniteState == '매도완료' && infiniteAccount.updateStockForm.doneDate.$dirty 
							&& ((infiniteAccount.updateStockForm.doneDate.$invalid && 'invalid')
							|| (infiniteAccount.updateStockForm.doneDate.$valid && 'valid'))">
					<span class="invalid-feedback" ng-show="infiniteAccount.updateStock.data.infiniteState == '매도완료' && infiniteAccount.updateStockForm.doneDate.$dirty && infiniteAccount.updateStockForm.doneDate.$invalid">필수 작성 항목입니다.</span>
	      		</div>
		    </div>
	        <div class="row mb-3">
			    <div class="col-4 pt-2 pl-4 text-gray-800 font-weight-bold">
	      			무한매수/TLP
	      		</div>
	      		<div class="col-8 p-1">
			      <div class="btn-group btn-group-toggle" data-toggle="buttons">
					  <label style="width: 7em;"
					  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
					  	ng-class="infiniteAccount.updateStock.data.infiniteType == 'INFINITE' && 'active'">
					    <input type="radio" name="editInfiniteType" ng-model="infiniteAccount.updateStock.data.infiniteType" value="INFINITE"> 무한매수
					  </label>
					  <label style="width: 7em;"
					  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
					  	ng-class="infiniteAccount.updateStock.data.infiniteType == 'TLP' && 'active'">
					    <input type="radio" name="editInfiniteType" ng-model="infiniteAccount.updateStock.data.infiniteType" value="TLP"> TLP
					  </label>
				  </div>
			    </div>
		    </div>
	        <div class="row mb-3">
			    <div class="col-4 pt-2 pl-4 text-gray-800 font-weight-bold">
	      			버전
	      		</div>
	      		<div class="col-8 p-1">
			      <div class="btn-group btn-group-toggle" data-toggle="buttons">
					  <label style="width: 4em;"
					  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
					  	ng-class="infiniteAccount.updateStock.data.infiniteVersion == 'v2.1' && 'active'">
					    <input type="radio" name="editInfiniteVersion" ng-model="infiniteAccount.updateStock.data.infiniteVersion" value="v2.1"> v2.1
					  </label>
					  <label style="width: 6em;"
					  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
					  	ng-class="infiniteAccount.updateStock.data.infiniteVersion == 'v2.1후반' && 'active'">
					    <input type="radio" name="editInfiniteVersion" ng-model="infiniteAccount.updateStock.data.infiniteVersion" value="v2.1후반"> v2.1후반
					  </label>
					  <label style="width: 4em;"
					  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
					  	ng-class="infiniteAccount.updateStock.data.infiniteVersion == 'v2' && 'active'">
					    <input type="radio" name="editInfiniteVersion" ng-model="infiniteAccount.updateStock.data.infiniteVersion" value="v2"> v2
					  </label>
					  <label style="width: 4em;"
					  	class="btn btn-sm btn-outline-info font-weight-bold text-xs"
					  	ng-class="infiniteAccount.updateStock.data.infiniteVersion == 'v1' && 'active'">
					    <input type="radio" name="editInfiniteVersion" ng-model="infiniteAccount.updateStock.data.infiniteVersion" value="v1"> v1
					  </label>
				  </div>
			    </div>
		    </div>
		    <div class="row mb-3">
			    <div class="col-6 pl-4">
			      <label class="text-gray-800 font-weight-bold">매수 시작일</label>
			      <input type="date" class="form-control"
						ng-model="infiniteAccount.updateStock.data.startedDate" name="startedDate"
						ng-required="true"
						ng-class="infiniteAccount.updateStockForm.startedDate.$dirty 
							&& ((infiniteAccount.updateStockForm.startedDate.$invalid && 'invalid')
							|| (infiniteAccount.updateStockForm.startedDate.$valid && 'valid'))">
				  <span class="invalid-feedback" ng-show="infiniteAccount.updateStockForm.startedDate.$dirty && infiniteAccount.updateStockForm.startedDate.$invalid">필수 작성 항목입니다.</span>
			    </div>
			    <div class="col-6 pr-4">
			      <label class="text-gray-800 font-weight-bold">배정 원금($)</label>
			      <input type="number" class="form-control"
						ng-model="infiniteAccount.updateStock.data.seed" name="seed"
						validation-doller ng-required="true"
						max="999999"
						ng-class="infiniteAccount.updateStockForm.seed.$dirty 
						&& ((infiniteAccount.updateStockForm.seed.$invalid && 'invalid')
						|| (infiniteAccount.updateStockForm.seed.$valid && 'valid'))">
				  <span class="invalid-feedback" ng-show="infiniteAccount.updateStockForm.seed.$dirty && infiniteAccount.updateStockForm.seed.$invalid">필수 작성 항목입니다.</span>
			    </div>
			 </div>  
		    <div class="row mb-3">
			    <div class="col-6 pl-4">
			      <label class="text-gray-800 font-weight-bold">매매내역 자동기록</label>
			    </div>
			    <div class="col-6 pr-4">
			      <label class="text-gray-800 font-weight-bold">지니RPA 연동</label>
			    </div>
			 </div>  
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
        	ng-disabled="!infiniteAccount.updateStockForm.$dirty || infiniteAccount.updateStockForm.startedDate.$invalid || infiniteAccount.updateStockForm.seed.$invalid
        		|| (infiniteAccount.updateStock.data.infiniteState == '매도완료' && infiniteAccount.updateStockForm.doneDate.$invalid)"
        	ng-click="infiniteAccount.updateStock.update(infiniteAccount.updateStock.data)">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>