<div ng-controller="InfiniteAccountController as infiniteAccount">

	<!-- 계좌 이름 -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h4 mb-0 text-gray-800">계좌현황</h1>

		<!-- 추가, 설정 버튼 -->
		<div class="d-sm-flex align-items-center justify-content-between">
			<a class="btn btn-primary btn-circle shadow mr-1"
				data-toggle="modal" data-target="#addStockModal">
                <i class="fas fa-plus text-white"></i>
            </a>
			<a class="btn btn-success btn-circle shadow"
				data-toggle="modal" data-target="#filtergModal">
                <i class="fas fa-filter text-white"></i>
            </a>
		</div>
	</div>

	<!-- Content Row -->
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-primary text-uppercase mb-1">
								투자 원금</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								$0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-success text-uppercase mb-1">배정 씨드</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								${{ infiniteAccount.account.state.sumInfiniteSeed | number }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-info text-uppercase mb-1">총 매입금</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">${{ infiniteAccount.account.state.sumInfiniteBuyPrice | number:2 }}
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-warning text-uppercase mb-1">
								진행종목수</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ infiniteAccount.account.state.ingInfiniteCount }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-infinity fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" ng-if="infiniteAccount.stocks.length == 0">
		<div class="col">
			<div class="alert alert-success text-center" role="alert">
			  <p>조회 된 종목이 없습니다.</p>
			  <hr>
			  <div class="text-resize">
				  <a class="btn btn-primary btn-circle btn-sm shadow mr-1"
					data-toggle="modal" data-target="#addStockModal">
	                  <i class="fas fa-plus text-white"></i>
	           	  </a> 버튼을 클릭하여 종목을 추가해보세요.
           	  </div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="infiniteAccount.stocks.length > 0">
		<div class="col-xl-3 col-md-6" ng-repeat="stock in infiniteAccount.stocks">
			<div class="card shadow mb-4">
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary float-right">
						{{ stock.symbol }}
						<span class="badge rounded-pill bg-warning text-white py-1 px-2 ml-2">{{ stock.infiniteType }}</span>
						<span class="badge rounded-pill text-white py-1 px-2"
							ng-class="(stock.infiniteState == '진행중' && 'bg-primary') || (stock.infiniteState == '매도완료' && 'bg-success') ||
									(stock.infiniteState == '매수중지' && 'bg-danger') || (stock.infiniteState == '원금소진' && 'bg-danger') ">
							{{ stock.infiniteState }}
						</span>
					</h6>
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" role="button" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
							aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" ng-click="infiniteAccount.openHistoryModal(stock.accountId, stock.infiniteId, stock.symbol)">
								<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> 매매 내역
							</a> 
							<a class="dropdown-item" ng-if="stock.infiniteState == '진행중'" ng-click="infiniteAccount.changeState(stock.accountId, stock.infiniteId, '매수중지')">
								<i class="far fa-stop-circle fa-sm fa-fw mr-2 text-gray-400"></i> 매수 중지
							</a> 
							<a class="dropdown-item" ng-if="stock.infiniteState == '매수중지'" ng-click="infiniteAccount.changeState(stock.accountId, stock.infiniteId, '진행중')">
								<i class="far fa-play-circle fa-sm fa-fw mr-2 text-gray-400"></i> 매수 진행
							</a> 
							<a class="dropdown-item">
								<i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i> 종목 설정
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item">
								<i class="fas fa-trash fa-sm fa-fw mr-2 text-gray-400"></i> 종목 삭제
							</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					<h4 class="small font-weight-bold">
						진행률 <span class="float-right">{{ stock.progressPer | number:1 }}%</span>
					</h4>
					<div class="progress mb-3">
						<div class="progress-bar" ng-class="(stock.progressPer < 50 && 'bg-primary') || (stock.progressPer > 80 && 'bg-danger') || (stock.progressPer >= 50 && 'bg-warning')"
							role="progressbar"
							style="width: {{ stock.progressPer }}%" aria-valuenow="{{ stock.progressPer }}" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<div class="card mt-1">
						<div class="card-header py-2 bg-light collapsed" data-toggle="collapse" data-target="#collapseA_{{$index}}" aria-expanded="false" aria-controls="collapse1">
							<h6 class="m-0 mt-1 font-weight-bold small">
								기본정보
							</h6>
						</div>
						<div class="collapse" id="collapseA_{{$index}}">
							<div class="card-body text-center">
								<div class="row">
									<div class="col">
										<h4 class="small font-weight-bold">시작일자</h4>
										<h4 class="small">{{ stock.startedDate }}(20)</h4>
									</div>
									<div class="col">
										<h4 class="small font-weight-bold">배정원금</h4>
										<h4 class="small">${{ stock.seed | number }}</h4>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<h4 class="small font-weight-bold">평균단가</h4>
										<h4 class="small">${{ stock.averagePrice | number:2 }}</h4>
									</div>
									<div class="col">
										<h4 class="small font-weight-bold">보유수량</h4>
										<h4 class="small">{{ stock.holdingQuantity | number }}주</h4>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<h4 class="small font-weight-bold">1회 매수금액</h4>
										<h4 class="small">${{ stock.oneBuySeed | number:2 }}</h4>
									</div>
									<div class="col">
										<h4 class="small font-weight-bold">1회 매수량</h4>
										<h4 class="small">{{ stock.oneBuyQuantity | number }}주</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card mt-1">
						<div class="card-header py-2 bg-light" data-toggle="collapse" data-target="#collapseB_{{$index}}" aria-expanded="true" aria-controls="collapse2">
							<h6 class="m-0 mt-1 font-weight-bold small">
								손익현황
							</h6>
						</div>
						<div class="collapse show" id="collapseB_{{$index}}">
							<div class="card-body text-center">
								<div class="row">
									<div class="col">
										<h4 class="small font-weight-bold">매입금액</h4>
										<h4 class="small">${{ stock.buyPrice | number:2 }}</h4>
									</div>
									<div class="col">
										<h4 class="small font-weight-bold">평가금액</h4>
										<h4 class="small">${{ stock.evalPrice | number:2 }}</h4>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<h4 class="small font-weight-bold">손익금</h4>
										<h4 class="small font-weight-bold" 
											ng-class="(stock.income > 0 && 'text-danger') || (stock.income < 0 && 'text-primary')">
											{{ stock.income | number:2 }}$
										</h4>
									</div>
									<div class="col">
										<h4 class="small font-weight-bold">손익률</h4>
										<h4 class="small font-weight-bold"
											ng-class="(stock.income > 0 && 'text-danger') || (stock.income < 0 && 'text-primary')">
											{{ stock.incomePer | number:2 | appendPulMa }}%
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card mt-1">
						<div class="card-header py-2 bg-light collapsed" data-toggle="collapse" data-target="#collapseC_{{$index}}" aria-expanded="false" aria-controls="collapse3">
							<h6 class="m-0 mt-1 font-weight-bold small">
								매수
							</h6>
						</div>
						<div class="collapse" id="collapseC_{{$index}}">
							<div class="card-body text-center">
								<div ng-repeat="info in stock.buyTradeInfoList">
									<hr class="mb-4" ng-if="$index > 0">
									<div class="row">
										<div class="col">
											<h4 class="small font-weight-bold text-danger">{{ info.tradeName }}</h4>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<h4 class="small">가격</h4>
											<h4 class="small font-weight-bold">${{ info.price | number:2 }}</h4>
										</div>
										<div class="col">
											<h4 class="small">수량</h4>
											<h4 class="small font-weight-bold">{{ info.quantity | number }}주</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card mt-1">
						<div class="card-header py-2 bg-light collapsed" data-toggle="collapse" data-target="#collapseD_{{$index}}" aria-expanded="false" aria-controls="collapse4">
							<h6 class="m-0 mt-1 font-weight-bold small">
								매도
							</h6>
						</div>
						<div class="collapse" id="collapseD_{{$index}}">
							<div class="card-body text-center">
								<div ng-repeat="info in stock.sellTradeInfoList">
									<hr class="mb-4" ng-if="$index > 0">
									<div class="row">
										<div class="col">
											<h4 class="small font-weight-bold text-primary">{{ info.tradeName }}</h4>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<h4 class="small">가격</h4>
											<h4 class="small font-weight-bold">${{ info.price | number:2 }}</h4>
										</div>
										<div class="col">
											<h4 class="small">수량</h4>
											<h4 class="small font-weight-bold">{{ info.quantity | number }}주</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-primary text-white">
	        <h5 class="modal-title">종목 추가</h5>
	        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div class="row mb-3">
			    <div class="col-sm-6">
			      <label>종목</label>
			      <select class="custom-select" size="3" ng-model="infiniteAccount.addStock.data.symbol">
					  <option ng-repeat="symbol in infiniteAccount.initData.symbols">{{ symbol }}</option>
				  </select>
			    </div>
			    <div class="col-sm-6">
			      <label>버전</label>
			      <select class="custom-select" size="3" ng-model="infiniteAccount.addStock.data.infiniteType">
					  <option value="v2.1" selected>v2.1</option>
					  <option value="v2">v2</option>
					  <option value="v1">v1</option>
					</select>
			    </div>
		    </div>
		    <div class="row mb-3">
			    <div class="col-sm-6">
			      <label>매수 시작일</label>
			      <input type="text" class="form-control" id="addStockDatePicker" ng-model="infiniteAccount.addStock.data.startedDate">
			    </div>
			    <div class="col-sm-6">
			      <label>배정 원금($)</label>
			      <input type="text" class="form-control" ng-model="infiniteAccount.addStock.data.seed">
			    </div>
			 </div>  
			 <div class="row mb-3">
			    <div class="col-sm-6">
			      <label>평단가($)</label>
			      <input type="text" class="form-control" ng-model="infiniteAccount.addStock.data.unitPrice">
			    </div>
			    <div class="col-sm-6">
			      <label>수량</label>
			      <input type="text" class="form-control" ng-model="infiniteAccount.addStock.data.quantity">
			    </div>
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="infiniteAccount.addStock.add()">Add</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
	    <div class="modal-content">
	      <div class="modal-header bg-primary text-white">
	        <h5 class="modal-title">{{ infiniteAccount.viewStock.symbol }} - 매매내역</h5>
	        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div class="row">
	        	<div class="float-right mx-3">
					<a class="btn btn-primary btn-circle btn-sm shadow mb-1" >
		                <i class="fas fa-plus text-white"></i>
		            </a>
				</div>
		    </div>
		    <div class="row">
		    	<table class="table table-hover text-gray-800 text-xs mx-3" id="dataTable" width="100%" style="width: 100%;">
					<thead>
						<tr role="row" class="text-center">
							<th style="width: 5px;">#</th>
							<th style="width: 20px;">일자</th>
							<th style="width: 10px;">적요</th>
							<th style="width: 20px;">단가</th>
							<th style="width: 20px;">수량</th>
							<th style="width: 20px;">편집</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center"
							ng-repeat="trade in infiniteAccount.viewStock.history">
							<td class="align-middle">{{ infiniteAccount.viewStock.history.length - $index }}</td>
							<td class="align-middle">{{ trade.tradeDate }}</td>
							<td class="font-weight-bold align-middle"
								ng-class="(trade.tradeType == '매수' && 'text-danger') || (trade.tradeType == '매도' && 'text-primary')">
								{{ trade.tradeType }}
							</td>
							<td class="align-middle">${{ trade.unitPrice | number:2 }}</td>
							<td class="align-middle">{{ trade.quantity | number }}</td>
							<td class="align-middle">
								<a class="btn btn-primary btn-success btn-sm shadow" >
					                <i class="fas fa-edit text-white"></i>
					            </a>
								<a class="btn btn-primary btn-danger btn-sm shadow" >
					                <i class="fas fa-trash text-white"></i>
					            </a>
							</td>
						</tr>
					</tbody>
			    </table>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- add stock Modal -->
	<!-- <div ng-include="meta.baseUrl + 'tpl/modal/add-stock.html'"></div> -->
</div>