<div ng-controller="InfiniteDashboardController as infiniteDashboard">
	<div class="d-flex align-items-center justify-content-between mb-4">
		<h1 class="h4 mb-0 text-gray-800">대시보드</h1>
	</div>

	<!-- Content Row -->
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-primary text-uppercase mb-1">
								원금</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-success text-uppercase mb-1">배정
								씨드</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-info text-uppercase mb-1">총
								매입금</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-warning text-uppercase mb-1">
								진행종목수</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-infinity fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- Area Chart -->
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">월별 실현 손익</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-area">
						<canvas id="profitMonthlyChart"></canvas>
					</div>
				</div>
			</div>
		</div>

		<!-- Pie Chart -->
		<div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">주식 현금 비중</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-pie pt-4 pb-2">
						<canvas id="dallerGravityChart"></canvas>
					</div>
					<div class="mt-4 text-center small">
						<span class="mr-2"> <i class="fas fa-circle text-warning"></i>
							주식
						</span> <span class="mr-2"> <i class="fas fa-circle text-info"></i>
							현금
						</span> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- Content Column -->
		<div class="col-xl-4 col-lg-5">

			<!-- Project Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">종목별 진행률</h6>
				</div>
				<div class="card-body">
					<h4 ng-repeat-start="stock in infiniteDashboard.stocks"
						class="small font-weight-bold">
						{{ stock.symbol }} 
						<span class="text-xs" ng-class="(stock.income > 0 && 'text-danger') || (stock.income < 0 && 'text-primary')">({{ stock.incomePer | number:2 | appendPulMa }}%)</span>
						<span class="float-right">{{ stock.progressPer | number:1 }}%</span>
					</h4>
					<div ng-repeat-end
						class="progress mb-4">
						<div class="progress-bar" 
							ng-class="(stock.progressPer < 50 && 'bg-primary') || (stock.progressPer > 80 && 'bg-danger') || (stock.progressPer >= 50 && 'bg-warning')"
							role="progressbar"
							style="width: {{ stock.progressPer }}%" aria-valuenow="{{ stock.progressPer }}" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">종목별 누적손익</h6>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="profitStockChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">종목별 비중</h6>
				</div>
				<div class="card-body">
				</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">전월 대비 매입금</h6>
				</div>
				<div class="card-body">
				</div>
			</div>
		</div>
	</div>
</div>
