<div ng-controller="InfiniteIncomeController as infiniteIncome">
	<div class="d-flex align-items-center justify-content-between mb-4">
		<h1 class="h4 mb-0 text-gray-800">손익현황</h1>
		
		<!-- 필터 버튼 -->
		<div class="d-flex align-items-center justify-content-between">
			<a class="btn btn-info btn-circle shadow"
				data-toggle="modal" data-target="#filterModal">
                <i class="fas fa-filter text-white"></i>
            </a>
		</div>
	</div>
	
	<!-- Content Row -->
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-primary text-uppercase mb-1">
								기간</div>
							<div class="small h5 mb-0 font-weight-bold text-gray-800">2021-12-01 ~ 2021-12-19</div>
						</div>
						<div class="col-auto">
							<i class="far fa-calendar-alt fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-success text-uppercase mb-1">매입금액</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-info text-uppercase mb-1">매도금액</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-warning text-uppercase mb-1">손익금액</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">0$(0%)</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">손익현황</h6>
				</div>
				<div class="card-body">
					<table class="table table-hover text-gray-800 text-resize" id="dataTable" width="100%" style="width: 100%;">
						<thead class="text-white bg-primary">
							<tr role="row" class="text-center">
								<th class="" 
									style="width: 10px;">NO</th>
								<th class="" 
									style="width: 10px;">SYMBOL</th>
								<th class="" 
									style="width: 10px;">배정원금</th>
								<th class="" 
									style="width: 10px;">진행기간</th>
								<th class="" 
									style="width: 10px;">진행률</th>
								<th class="" 
									style="width: 10px;">평단가</th>
								<th class="" 
									style="width: 10px;">매수금액</th>
								<th class="" 
									style="width: 10px;">매도금액</th>
								<th class="" 
									style="width: 10px;">손익금액</th>
								<th class="" 
									style="width: 10px;">손익률</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in infiniteIncome.profit">
								<td class="text-center">
									{{ infiniteIncome.profit.length - $index }}
								</td>
								<td class="text-center">
									{{ item.symbol }}
								</td>
								<td class="text-center">
									${{ item.seed | number }}
								</td>
								<td class="text-center small" style="white-space: nowrap;">
									{{ item.startedDate }} ~
									{{ item.doneDate }}
								</td>
								<td class="text-center">
									{{ item.progressPer | number:1 }}%
								</td>
								<td class="text-center">
									${{ item.averagePrice | number:2 }}
								</td>
								<td class="text-center">
									${{ item.totalBuyPrice | number:2 }}
								</td>
								<td class="text-center">
									${{ item.totalSellPrice | number:2 }}
								</td>
								<td class="text-center">
									{{ item.income | number:2 }}$
								</td>
								<td class="text-center">
									${{ item.incomePer | number:1 }}%
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>