<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">검색 조건</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-3 pt-2 pl-3 text-gray-800 font-weight-bold">
      			계좌
      		</div>
      		<div class="col-9 p-1">
      			<select
					id="accountSelect" 
					ng-model="infiniteDashboard.query.accountId">
					<option value="ALL">전체</option>
					<option ng-repeat="account in infiniteDashboard.myAccounts" ng-value="account.accountId">계좌 {{ account.accountOrder }} : {{ account.accountAlias }}</option>
				</select>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>