<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">검색 조건</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-3 pt-2 pl-3 text-gray-800 font-weight-bold">
      			계좌
      		</div>
      		<div class="col-9 p-1">
      			<select
					id="accountSelect" 
					ng-model="infiniteIncome.query.accountId">
					<option value="ALL">전체</option>
					<option ng-repeat="account in infiniteIncome.myAccounts" ng-value="account.accountId">계좌 {{ account.accountOrder }} : {{ account.accountAlias }}</option>
				</select>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-3 pt-1 pl-3 text-gray-800 font-weight-bold">
      			조회기간
      		</div>
      		<div class="col-9 p-1">
      			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label style="width: 6em;"
				  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
				  	ng-class="infiniteIncome.filter.date == '1개월' && 'active'">
				    <input type="radio" name="date" ng-model="infiniteIncome.filter.date" value="1개월"> 1개월
				  </label>
				  <label style="width: 6em;"
				  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
				  	ng-class="infiniteIncome.filter.date == '3개월' && 'active'">
				    <input type="radio" name="date" ng-model="infiniteIncome.filter.date" value="3개월"> 3개월
				  </label>
				  <label style="width: 6em;"
				  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
				  	ng-class="infiniteIncome.filter.date == '1년' && 'active'">
				    <input type="radio" name="date" ng-model="infiniteIncome.filter.date" value="1년"> 1년
				  </label>
				 <!--  <label style="width: 6em;"
				  	class="btn btn-sm btn-outline-info font-weight-bold text-xs" 
				  	ng-class="infiniteIncome.filter.date == '조회기간' && 'active'">
				    <input type="radio" name="date" ng-model="infiniteIncome.filter.date" value="조회기간"> 조회기간
				  </label> -->
				</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-3 pt-1 pl-3 text-gray-800 font-weight-bold">
      			정렬순서
      		</div>
      		<div class="col-9 p-1">
      			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label style="width: 6em;"
				  	class="btn btn-sm btn-outline-primary font-weight-bold text-xs" 
				  	ng-class="infiniteIncome.query.order == 'DESC' && 'active'">
				    <input type="radio" name="order" ng-model="infiniteIncome.query.order" value="DESC"> 최신순
				  </label>
				  <label style="width: 6em;"
				  	class="btn btn-sm btn-outline-primary font-weight-bold text-xs" 
				  	ng-class="infiniteIncome.query.order == 'ASC' && 'active'">
				    <input type="radio" name="order" ng-model="infiniteIncome.query.order" value="ASC"> 과거순
				  </label>
				</div>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>